* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.main-nav {

    display: flex;
    align-items: center;
    justify-content: space-around;
}


.main-nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}

.main-nav ul li {
    list-style: none;
}

.main-nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.main-nav input {
    padding: 15px 20px;
    border-radius: 5px;
}

.main-nav button {
    padding: 15px 20px;
    transition: .3s linear;
    background-color: blue;
    border: none;
}

.main-nav button:hover {
    transition: .3s linear;
    box-shadow: 2px 2px 2px 2px;
}

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.left {
    width: 50%;
    height: 550px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    gap: 20px;
    position: relative;
}

.left button {
    padding: 25px 35px;
    background-color: blue;
    border: none;
    border-radius: 5px;
    color: white;
}

.right {
    width: 50%;
    height: 550px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    gap: 20px;
}

.pti {
    position: absolute;
    border: 2px solid rgb(255, 255, 255);
    z-index: 111;
    background-color: white;
    color: black;
    width: 250px;
    font-size: 10px;
    right: 50px;
    bottom: 30px;
    animation-name: pti;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes pti {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
    }
}

.right img {
    width: 450px;
}

.first img {
    width: 150px;
    /* border: 2px solid red; */
}

.pos1 {
    position: absolute;
    top: -45px;
    animation-name: pos1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes pos1 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.pos2 {
    position: absolute;
    left: -10px;
}

.pos3 {
    position: absolute;
    z-index: 11;
    top: 150px;
    right: 30px;
}

.container {
    width: 100%;
    /* height: ; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
    background-color: white;
    transition: .3s ease-in;
}

.heding {
    width: 100%;
    padding: 50px;

}


.heding h1 {
    font-size: 50px;
}

.box {
    width: 30%;
    height: 90px;
    border: 3px solid rgba(0, 0, 0, 0.077);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    transition: .3s ease-in;

    &:hover {
        transition: .3s ease-in;
        background-color: blue;
        color: white;
    }
}

.box h1 {
    font-size: 20px;
}

.box i {
    font-size: 30px;
}

.con-2 {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.card1 {
    width: 550px;
    height: 250px;
    /* border: 2px solid red; */
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    background-image: url(first\ bg.jpg);
    position: relative;
    padding: 10px;

}

.card2 {
    padding: 10px;
    position: relative;
    width: 550px;
    height: 250px;
    /* border: 2px solid red; */
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    background-image: url(sec\ bg.jpg);
}

.con3 {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid black; */

}

.c1 {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    padding-left: 150px;
    gap: 10px;
}

.c2 {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.maincard {
    width: 80%;
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.main-nav2 {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    /* border: 2px solid red; */
}

.main-nav2 ul {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 50px;
    padding-left: 150px;
}

.main-nav2 ul li {
    list-style: none;
}

.main-nav2 ul li a {
    color: black;
    text-decoration: none;
}

.intro {
    width: 30%;
    height: 450px;
    border: 2px solid rgba(0, 0, 0, 0.27);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 12px;
    border-radius: 10px;
    padding: 10px;
}

.ft {
    width: 100%;
}

.intro img {
    width: 100%;
    /* height: 280px; */
    object-fit: cover;
    /* object-position: top; */
}

.c3 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.frst {
    width: 100%;

    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.cdata {
    width: 100%;
    height: 90vh;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.scnd {
    width: 70%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid rgba(0, 0, 0, 0.354);
    padding: 50px;
    gap: 10px;
    border-radius: 15px;
    transition: .5s;
    background-color: white;
    border: transparent;
    z-index: 1;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.071);
}

.scnd:hover {
    transition: .5s;
    border-left: 5px solid blue;
}

.scnd h3 {
    font-size: 15px;
    color: grey;
}

.scnd h1 {
    font-size: 30px;
}

.scnd button {
    border: none;
    background-color: white;
}

.c4 {
    width: 100%;
    height: 150vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn1 {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.btn1 button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
}

.btn2 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 10px;
    padding-top: 100px;
}

.ek {
    width: 35%;
    height: 450px;
    /* border: 2px solid black; */
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    background-color: #F3F4F8;
    border-radius: 5px;
}

.do {
    width: 35%;
    height: 500px;
    /* border: 2px solid black; */
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    background-color: #F3F4F8;
    border-radius: 5px;
}

.c5 {
    width: 100%;
    height: 85vh;
    background-color: rgb(4, 4, 59);
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    position: relative;
    color: white;

}

.lastc1 {
    width: 80%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid black; */
    background-color: #2B4EFF;
    position: absolute;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    top: -100px;
    overflow: hidden;
}

.lastc1 h1 {
    font-size: 40px;
    color: white;
}

.lastc1 button {
    padding: 20px 45px;
    border-radius: 5px;
    border: none;
    transition: .3s linear;
    z-index: 1111111;
}

.lastc1 button:hover {      
    transition: .3s linear;
background-color: #2B4EFF ;
}

.last1 {
    width: 20%;
    height: 600px;
    display: flex;
    align-items: start;
    justify-content: center;
    /* border: 2px solid black; */
    flex-direction: column;
    gap: 30px;
    padding: 50px;
}

.fa-square-facebook {
    font-size: 40px;
    color: #285DA1;
}

.fa-square-twitter {
    font-size: 40px;
    color: #03A9F4;
}

.fa-square-pinterest {
    font-size: 40px;
    color: #D2173F;
}

.last2 {

    width: 20%;
    height: 600px;
    display: flex;
    align-items: start;
    justify-content: center;
    /* border: 2px solid black; */
    flex-direction: column;
    gap: 30px;
    padding: 50px;
}

.last2 ul {
    display: flex;
    align-items: start;
    justify-items: center;
    flex-direction: column;
    gap: 10px;
}

.last2 ul li {

    list-style: none;
}

.last2 ul li a {
    text-decoration: none;
    color: white;
}

.last3 {
    width: 25%;
    height: 600px;
    display: flex;
    align-items: start;
    justify-content: center;
    /* border: 2px solid black; */
    flex-direction: column;
    gap: 30px;
    padding: 50px;
    text-align: start;


}

.last3 input {
    padding: 15px 25px;
}

.boxx {
    width: 250px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxx button {
    padding: 15px 20px;
    background-color: blue;
}